.hero {
  position: relative;
  width: 100%;
  min-width: 375px;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
}

.hero-content {
  position: relative;
  text-align: center;
  color: white;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.25rem;
  margin-top: 10px;
}

.hero-buttons {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  } 

  .icon {
    margin-right: 10px;
  }

  @media (max-width: 496px) {
    grid-template-columns: 1fr;
  }
}

.hero-buttons .btn {
  padding: 16px 24px;
  font-size: 1rem;
  border-radius: 8px;
  min-width: 200px;
  font-weight: 600;
  cursor: pointer;
}

.hero-buttons .primary {
  background-color: black;
  color: white;
}

.hero-buttons .secondary {
  background-color: white;
  color: black;
}
