@use "../../style.scss" as style;

.container-pricing-form {
  max-width: 1280px;
  margin: 24px auto 48px;
  display: flex;
  justify-content: space-between;

  .wrapper-pricing-form {
    flex: 1;
    margin: 0 24px;
  
    h2 {
      font-size: 28px;
      margin-bottom: 24px;
      font-weight: bold;
    }

    .form-pricing {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .submit-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        color: white;
        padding: 8px 12px;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        transition: all 0.3s ease;

        .icon {
          margin-right: 8px;
        }

        &:hover {
          background-color: #000000d8;
        }
      }
    }

    .des {
      color: grey;
      font-size: 16px;
      margin-bottom: 24px;
    }

    .input-form {
      border: 1px solid #e5e7eb;  
      border-radius: 5px;
      padding: 8px;              
      width: 100%; 
    }

    select {
      background-color: #fff;
      color: grey
    }
  }
  
  .pricing-form-image {
    width: calc(50% - 48px);
    margin: 0 24px;
    img {
      width: 100%;
    }
  }

  @include style.mobile {
    .pricing-form-image {
      display: none;
    }
  }
}
