.carList {
  max-width: 1280px;
  margin: 24px auto 48px;

  .title {
    font-size: 28px;
    margin-bottom: 24px;
    font-weight: bold;
    text-align: center;
  }

  .grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr); // Hiển thị 3 xe trên hàng ngang
  }

  @media (max-width: 992px) {
    .grid {
      grid-template-columns: repeat(2, 1fr); // Hiển thị 2 xe trên hàng ngang khi màn hình nhỏ hơn 992px
    }
  }

  @media (max-width: 576px) {
    .grid {
      grid-template-columns: repeat(1, 1fr); // Chuyển sang hiển thị dọc trên mobile
    }
  }
}
