.container {
  margin: auto;
  display: flex;
  gap: 20px;
  padding: 20px;
  width: calc(100% - 40px);
  max-width: var(--widthBackgroudDesktop);

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.mainContent {
  flex: 2;
  padding: 20px;
  border-radius: 8px;
}

.sidebar {
  background-color: grey;
  height: 100px;
  flex: 1;
}
