// ResetPasswordPage.module.scss

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 2rem;
}

.formContainer {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.input {
  padding: 0.75rem 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.3s;

  &:focus {
    border-color: #0070f3;
    outline: none;
  }
}

.error {
  border-color: var(--input-boder-error);
  background-color: var(--input-boder-error-bg);

}

.submitButton {
  padding: 0.75rem 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #333;
  }
}

.footer {
  margin-top: 1rem;
  text-align: center;
}

.backToLogin {
  font-size: 0.95rem;
  color: #000;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px 40px 10px 10px; // chừa khoảng trống bên phải cho nút "Hiện"
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

.toggleButton {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-110%);
  background: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}
