.dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  background: #f8f8f8;
}

.uploadBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #666;
  font-size: 16px;
}

.uploadBox p {
  margin: 10px 0;
}

.preview {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.preview img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.imageContainer {
  position: relative;
  display: inline-block;

  .removeButton {
    position: absolute;
    width: 16px !important;
    height: 16px;
    top: 0px;
    right: 0px; 
    background: rgba(218, 166, 166, 0.8);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 2px;
    display: none;
    align-items: center;
    justify-content: center;

    &:hover {
      background: rgb(201, 149, 149);
    }
  }

  &:hover .removeButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
